
.choose-car button{
    border-radius: 5px 15px;
    padding: 8px;
    color: white;
}
.quesAns{
    border: 3px solid black;
}
@media (min-width: 688px) {
    .choose-car{
        background-color: #F4613E;
        position: fixed;
        right: 0;
        height: 80vh;
        border-radius: 10px 30px;
    }
}
@media (max-width: 688px) {
    .choose-car{
        background-color: #F4613E;
        /* position: fixed; */
        /* right: 0; */
        height: 70vh;
        border-radius: 10px 30px;
        margin-bottom: 20px;
    }
}