.display-car{
    border: none;
    border: 2px solid #F4613E;
    border-radius: 10px 30px;
}
.display-car img{
    border-radius: 10px 30px;
    margin: 5px;
}
.display-car button{
    border-radius: 5px 15px;
    padding: 8px;
    color: #F4613E;
}